[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
alembic = "*"
pymysql = "*"
python-dotenv = "*"
fastapi = "*"
email-validator = "*"
pydantic = {extras = ["email"], version = "*"}
pillow = "*"
colorama = "*"
requests = "*"
fastapi-cache2 = "*"
redis = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
