[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
alembic = "*"
pymysql = "*"
python-dotenv = "*"
fastapi = "*"
pydantic = {extras = ["email"], version = "*"}
pillow = "*"
colorama = "*"
requests = "*"
redis = "*"
setuptools = "*"
cryptography = "*"
passlib = "*"
bcrypt = "==3.2.2"
fastapi-cache2 = "*"
email-validator = "*"
jsonschema = "*"
httpx = "*"
psutil = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
